/* Общие стили для текста */
.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

.title {
    -fx-font-family: "Montserrat";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

/* Стили для кнопок */
.button:hover {
    -fx-background-color: #a8d6d2; /* Светло-зеленый при наведении */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-transition: all 0.3s;
}

/* Стили для гистограммы */
.chart-bar {
    -fx-bar-fill: #609bea; /* Синий цвет столбцов гистограммы */
}

.axis-label {
    -fx-font-size: 12px;
    -fx-text-fill: #2c3e50; /* Темно-синий цвет текста */
}

/* Стили для контейнеров с рамками */
.chart-container {
    -fx-border-color: #2c3e50; /* Цвет рамки */
    -fx-border-width: 2px;     /* Толщина рамки */
    -fx-border-radius: 10px;   /* Радиус скругления углов */
    -fx-background-color: #ecf0f1; /* Цвет фона внутри рамки */
    -fx-padding: 10px;         /* Отступы внутри контейнера */
}

.optimal-slope-container {
    -fx-border-color: #2c3e50; /* Цвет рамки */
    -fx-border-width: 1px;     /* Толщина рамки */
    -fx-border-radius: 5px;    /* Радиус скругления углов */
    -fx-padding: 5px;          /* Отступы внутри контейнера */
    -fx-background-color: #ffffff; /* Цвет фона */
}

.average-ghi-container {
    -fx-border-color: #2c3e50; /* Цвет рамки */
    -fx-border-width: 1px;     /* Толщина рамки */
    -fx-border-radius: 5px;    /* Радиус скругления углов */
    -fx-padding: 5px;          /* Отступы внутри контейнера */
    -fx-background-color: #ffffff; /* Цвет фона */
}

/* Стили для логотипа */
.logo-container {
    -fx-alignment: center; /* Выравнивание по центру */
    -fx-spacing: 10;       /* Отступ между иконкой и текстом */
    -fx-padding: 10;       /* Внутренние отступы */
}

#logoImage {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2); /* Тень */
}

.logo-text {
    -fx-font-family: "Montserrat"; /* Шрифт */
    -fx-font-size: 24px;           /* Размер текста */
    -fx-font-weight: bold;         /* Жирный текст */
    -fx-text-fill: #2c3e50;        /* Цвет текста */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2); /* Тень */
}